.title{
    border: 2px solid #20B0D4;
    padding: 10px 20px;
    padding-top: 20px;
    width: 700px;
    font-size: 28px;
    color: #2BB0E0;
    border-radius: 5px;
    letter-spacing: 8px;
    text-transform: uppercase;
    
}